body {
  	padding-top: 50px;
  	font-family: Arial;
}

a {
	font-size: 14px;
}

h1 {
	text-align: center;
}

#err, .glyphicon-exclamation-sign, .whitespace {
	float: left;
}

.scrollable {
    height: 300px;
    line-height: 2em;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #fff;
}

#accordion {
	line-height: 1.5em;
	text-align: justify;
}

#editor {
	height: 550px;
}

#undoBtn, #redoBtn {
	margin-top: 20px;
}

li {
    border-top: 1px solid #ccc;
}

#messages, #save_messages {
	display: none;
}

.radio {
	display: inline !important;
}

.row {
	margin-left: 0px;
	margin-right:0px;
}

.jumbotron {
	padding: 10px !important;
	margin: 5px;
}

.list-group-item {
	padding: 2px;
}

.radio input[type="radio"] {
	margin-left: 0px;
	position: relative;
}

.selectionArea .col-md-5, .selectionArea .col-md-3 {
	height: 35px;
	line-height: 35px;
}

.cmd {
	width: 330px !important;
}

