body {
  	padding-top: 50px;
}

h1 {
	text-align: center;
}

#err, .glyphicon-exclamation-sign, .whitespace {
	float: left;
}

#messages {
	display: none;
}

.radio {
	display: inline !important;
}

.row {
	margin-left: 0px;
	margin-right:0px;
}

.jumbotron {
	padding: 10px;
	margin: 5px;
}

.radio input[type="radio"] {
	margin-left: 0px;
	position: relative;
}

.selectionArea .col-md-5, .selectionArea .col-md-3 {
	height: 35px;
	line-height: 35px;
}

.documentationArea {
	background-color:#c1c1c1;
}

.cmd {
	width: 330px !important;
}

